.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 10rem;
}

.auburn_orange {
	color: #dd550c;
}
.auburn_blue {
	color: #03244d;
}

.description {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;

	padding: 3rem;
	margin-bottom: 5rem;
	max-width: 50vw;
}

.section {
	width: 70%;
	border-top: 1rem solid black;
}
.card {
	padding: 2rem;
	margin: 1rem;
}

.card a {
	color: #03244d;
	font-size: x-large;
}

.card a:hover {
	color: #dd550c;
}

.people {
	margin: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.person {
	padding: 1rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;

	justify-content: center;
	text-align: center;
	border: 1px solid grey;
	border-radius: 5px;
}

.person img {
	width: 10rem;
	border-radius: 5px;
}

.socials {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 3rem;
}

.socials img {
	max-width: 4rem;
	margin: 0 1rem;
}
.footer {
	height: 2rem;
	width: 100%;
	padding: 0 1rem;
	text-align: center;
}

@media (max-width: 1000px) {
	.description {
		max-width: 90vw;
	}
	.people {
		flex-direction: column;
	}
}
